corsika/data/p30
corsika/csv_output

modeling_parameters/read/corsika/data
modeling_parameters/read/corsika/output

modeling_parameters/read/geant/data
modeling_parameters/read/geant/output
modeling_parameters/reconstruction/geant/output
modeling_parameters/reconstruction/output
events/output

events/notebooks/geant_data/spe
events/notebooks/corsika_data
events/muons/rho_mu_corsika
events/muons/groups_data

__init__.py
__pycache__
.env